<!-- app/views/authors/show.html.erb -->
<h1><%= @author.name %></h1>

<p>
  <strong>ID:</strong> <%= @author.id %>
</p>

<h2>Articles by <%= @author.name %></h2>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
